/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v20-latin-regular.woff2") format("woff2"), url("../fonts/lato-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v20-latin-700.woff2") format("woff2"), url("../fonts/lato-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v20-latin-900.woff2") format("woff2"), url("../fonts/lato-v20-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

img {
  max-width: 100%;
}

.wrapper_sm {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper_lg {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  padding-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_item {
  margin-right: 82px;
}

.header_nav_item:last-child {
  margin-right: 0;
}

.header_nav_link {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header_nav_link:hover {
  opacity: 0.7;
}

/* intro start */
.intro {
  min-height: 100vh;
  background: url("../img/intro.jpg") no-repeat center;
  background-size: cover;
}

.intro_title {
  padding-top: 263px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  max-width: 619px;
}

.intro_description {
  margin-bottom: 59px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 546px;
}

.search_form_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_form_field_wrap {
  display: inline-block;
  position: relative;
}
.search_form_field_wrap::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 0;
}

.search_form_field {
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 22px;
  border: 0;
  border-bottom: 3px solid #BFC0C5;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  position: relative;
}

.search_form_field::-webkit-input-placeholder {
  color: #fff;
}

.search_form_field::-moz-placeholder {
  color: #fff;
}

.search_form_field:-ms-input-placeholder {
  color: #fff;
}

.search_form_field::-ms-input-placeholder {
  color: #fff;
}

.search_form_field::placeholder {
  color: #fff;
}

.search_form_button {
  padding: 15px 39px;
  border-radius: 0;
  border: 0;
  background: #1B7DFF;
}

/* intro end */
/* benefits start */
.benefits {
  background-color: #fff;
  margin-bottom: 131px;
}

.wrapper_lg-benefits {
  position: relative;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits_title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #fff;
  padding: 93px 100px;
  width: 100%;
  position: absolute;
  top: -228px;
  left: 0;
  z-index: 10;
}

.benefits_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0 111px 0;
}

.benefit {
  margin-right: 55px;
}
.benefit:last-child {
  margin-right: 0;
  position: relative;
  top: 8px;
  left: 0;
}
.benefit .benefit_icon {
  margin-bottom: 37px;
}
.benefit .benefit_title {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.benefit .benefit_description {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.benefit .benefit_learn-more {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0 59px 0 0;
  background: url("../img/svg/arrow.svg") no-repeat right center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}
.benefit .benefit_learn-more:hover {
  padding: 0 65px 0 0;
}

/* benefits end */
/* places start */
.places {
  margin-bottom: 131px;
}

.places_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.places_title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  margin-right: 30px;
  margin-bottom: 36px;
}
.places_title:after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  margin-top: 7px;
}

.places_view_all_link {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0 59px 0 0;
  background: url("../img/svg/arrow.svg") no-repeat right center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
  position: relative;
  right: 0;
  top: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.places_view_all_link:hover {
  opacity: 0.6;
}

.places_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places_card {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.places_card:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
}
.places_card:hover .places_card_pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.places_card_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.places_card_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.places_card_pic {
  height: 354px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.places_card_pic_small {
  height: 283px;
}

.places_card_title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}

.places_card_link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}

/* places end */
/* tours start */
.tours {
  margin-bottom: 139px;
}

.tours_tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 77px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 77px;
}

.tour_pic {
  width: 100%;
}

.tour_description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 47px;
}

.tour_description_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}

.tour_description_text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
  color: #102746;
}

.tour_description_link a {
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0 59px 0 0;
  background: url("../img/svg/arrow.svg") no-repeat right center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}

/* tours end */
/* arrow start */
.arrow {
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.arrow_line {
  width: 25px;
  height: 2px;
  background-color: #006DFE;
  position: absolute;
  top: 3px;
  left: 0;
}

.arrow_triangle {
  height: 0px;
  width: 0;
  border: 4px solid transparent;
  border-left: 8px solid #006DFE;
  border-right: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* arrow end */