/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }

  .wrapper {
    max-width: 1060px;
    margin: 0 auto;
  }

  // header start
  .header {
    padding-top: 56px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header_nav_list {
    display: flex;
  }
  .header_nav_item {
    margin-right: 82px;
  }
  .header_nav_item:last-child {
    margin-right: 0;
  }
  .header_nav_link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  .header_nav_link:hover {
    opacity: .7;
  }
  // header end

  /* intro start */
  .intro {
    min-height: 100vh;
    background: url("../img/intro.jpg") no-repeat center;
    background-size: cover;
  }
  .intro_title {
    padding-top: 263px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    max-width: 619px;
  }
  .intro_description {
    margin-bottom: 59px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    max-width: 546px;
  }
  .search_form_info {
    display: flex;
    
  }
  .search_form_field {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 22px;
    border: 0;
    border-bottom: 3px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
  }
  .search_form_field::placeholder {
    color: #fff;
  }
  .search_form_button {
    padding: 15px 39px;
    border-radius: 0;
    border: 0;
    background: #1B7DFF;
  }
  /* intro end */