@import "variables";
@import "mixins";

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    // max-width: 1440px;
    // margin: 0 auto;
  }
  img {
    max-width: 100%;
  }

  .wrapper_sm {
    max-width: 1060px;
    margin: 0 auto;
  }
  .wrapper_lg {
    max-width: 1260px;
    margin: 0 auto;
  }

  // header start
  .header {
    padding-top: 56px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header_nav_list {
    display: flex;
  }
  .header_nav_item {
    margin-right: 82px;
  }
  .header_nav_item:last-child {
    margin-right: 0;
  }
  .header_nav_link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  .header_nav_link:hover {
    opacity: .7;
  }
  // header end

  /* intro start */
  .intro {
    min-height: 100vh;
    background: url("../img/intro.jpg") no-repeat center;
    background-size: cover;
  }
  .intro_title {
    padding-top: 263px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    max-width: 619px;
  }
  .intro_description {
    margin-bottom: 59px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    max-width: 546px;
  }
  .search_form_info {
    display: flex;
  }
  .search_form_field_wrap {
    display: inline-block;
    position: relative;
    &::after {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 3px;
      left: 0;
    }

  }
  .search_form_field {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 22px;
    border: 0;
    border-bottom: 3px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    position: relative;
  }
  .search_form_field::placeholder {
    color: #fff;
  }
  .search_form_button {
    padding: 15px 39px;
    border-radius: 0;
    border: 0;
    background: #1B7DFF;
  }
  /* intro end */
  /* benefits start */
  .benefits {
    background-color: #fff;
    margin-bottom: 131px;
  }
  .wrapper_lg-benefits {
    position: relative;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  }
  .benefits_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    background-color: #fff;
    padding: 93px 100px;
    width: 100%;
    position: absolute;
    top: -228px;
    left: 0;
    z-index: 10;
  }
  .benefits_content {
    display: flex;
    padding: 32px 0 111px 0;
  }
  .benefit {
    margin-right: 55px;
    &:last-child {
      margin-right: 0;
      position: relative;
      top: 8px;
      left: 0;
    }
    .benefit_icon {
      margin-bottom: 37px;
    }
    .benefit_icon_pic {

    }
    .benefit_title {
      margin-bottom: 26px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000;
    }
    .benefit_description {
      margin-bottom: 39px;
      font-size: 16px;
      line-height: 24px;
      color: #000;
    }
    .benefit_learn-more {
      @include arrowLink;
      &:hover {
        padding: 0 65px 0 0;

      }
    }
  }
  /* benefits end */
  /* places start */
  .places {
    margin-bottom: 131px;
  }
  .places_caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .places_title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    margin-right: 30px;
    margin-bottom: 36px;
    &:after {
      display: block;
      content: '';
      width: 253px;
      height: 3px;
      background-color: $arrowLinkColor;
      margin-top: 7px;
    }
  }
  .places_view_all_link {
    @include arrowLink;
    position: relative;
    right: 0;
    top: 10px;
    transition: .2s all;
    &:hover {
      opacity: .6;
    }
  }
  .places_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  .places_card {
    position: relative;
    overflow: hidden;
    transition: .3s all;
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(21, 24, 36, 0.4);
    }
    &:hover .places_card_pic {
      transform: scale(1.1);
    }
  }
  .places_card_lg {
    grid-column: span 3;
  }
  .places_card_sm {
    grid-column: span 2;
  }

  .places_card_pic {
    height: 354px;
    width: 100%;
    object-fit: cover;
    transition: .3s all;
  }
  .places_card_pic_small {
    height: 283px;
  }
  .places_card_title {
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
  }
  .places_card_link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
  }
  /* places end */

  /* tours start */
  .tours {
    margin-bottom: 139px; 
  }
  .tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 77px;
  }
  .tour_pic {
    width: 100%;
  }
  .tour_description {
    align-self: center;
    padding-left: 47px;
  }
  .tour_description_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
  }
  .tour_description_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
    color: #102746;
  }
  .tour_description_link {
    a {
      @include arrowLink;
    }
  }

  /* tours end */



  /* arrow start */
  .arrow {
    width: 33px;
    display: flex;
    position: relative;
  }
  .arrow_line {
    width: 25px;
    height: 2px;
    background-color: #006DFE;
    position: absolute;
    top: 3px;
    left: 0;
  }
  .arrow_triangle {
    height: 0px;
    width: 0;
    border: 4px solid transparent;
    border-left: 8px solid #006DFE;
    border-right: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  /* arrow end */

   // @mixin name
  // @include name